* {
	box-sizing: content-box;
}
body {
	color: black;
	background: black;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 24px;
	height: 100vh;
}
img {
	max-width: 100%;
	height: auto;
}
main {
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
}
.bug {
	width: 20em;
	height: 20em;
	border-radius: 50%;
	overflow: hidden;
    background-image: url(images/bug.jpg);
    background-size: 125%;
    background-position: center;
		transform: scale(0.25);
		transition: transform 6s;
}
#zoom .bug{
	transform: scale(1);
}
.trigger {
	position: fixed;
	bottom: 2em;
	right: 2em;
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	padding: 0;
	background-color: white;
	color: black;
	border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: all 1.25s ease;
	line-height: 1.4em;
}
.trigger:hover {
	transform:rotate(20deg);
	background-color: grey;
}

#zoom .trigger{
	transform:rotate(135deg);
}

.trigger img{
	max-height: 0.6em;
	max-width: 0.6em;
}
